{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    {% if attracions_obj %}
        <div class="container">
            {% for attracion in attracions_obj %}
            <div class="row">
                <div class="card attracionShort">
                    <div class="container">
                        <h3 class="row">
                            {{attracion.name}}
                        </h3>
                        <div class="row">
                            <div class="col">
                                <div class="imgDiv">
                                    <img class="img-fluid imageShort" src="{% static 'images/muzeum_wojska.jpg' %}" alt="error">
                                </div>
                            </div>
                    
                            <div class="col">
                                <div class="card">
                                    <label for="descr">
                                        Opis
                                    </label>
                                    <div id="descr">
                                        {{attracion.description}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <label for="tickets">
                                        Bilety
                                    </label>
                                    <div id="tickets">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-8">
                                                    <label for="ticket_type">
                                                        Wybierz
                                                        <select class="form-control" type="number" id="ticket_type">
                                                            <option>--Wybierz bilet--</option>
                                                            {% for ticket in tickets %}
                                                            <option>{{ticket.type_name}} - {{ticket.price}}ZŁ</option>
                                                            {% endfor %}
                                                        </select>
                                                    </label>
                                                </div>
                    
                                                <div class="col">
                                                    <label for="ticket_quant">
                                                        liczba
                                                        <input class="form-control" type="number" id="ticket_quant" min="1" max="30">
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <a href="{% url 'city_guide:attraction' attracion.id %}" class="float-right">
                            Więcej...
                        </a>
                    
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>
    {% else %}
    <p>No attracions are available.</p>
    {% endif %}
{% endblock %}