{% extends 'base.html' %} 
{% load staticfiles %} 

{% block body %}
<div class="container standard-container">
    <!-- name -->
    <h2 class="row">
        <div class="col">
            {{ object.name }}
        </div>
    </h2>
    <!-- photos -->
    <div class="row mt-3 mb-2">
        <div class="col">
                <img id="mainPhoto" class="img-fluid imageShort" src="{{ object.main_photo.url }}" alt="error">
        </div>
    </div>
    <div class="row">
        {% for photo in object.photo_set.all %}
        <dix class="col">
            <img class="img-fluid imageShort minor-photo" src="{{ photo.photo.url }}" alt="error">
        </dix>
        {% endfor %}
        {% for photo in object.photo_set.all %}
        <dix class="col">
            <img class="img-fluid imageShort minor-photo" src="{{ photo.photo.url }}" alt="error">
        </dix>
        {% endfor %}
    </div>
    <!-- things -->
    <div class="row my-4">
        <!-- category -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fas fa-bars"></i> Kategorie
                </div>
                <div class="card-body">
                    {% for category_attr in object.categories.all %}
                    <p>- {{category_attr.name}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- age_restriction -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <i class="far fa-calendar"></i> Ograniczenie wiekowe
                </div>
                <div class="card-body">
                    <p>{{object.age_restriction}}</p>
                </div>
            </div>
        </div>

        <!-- open hours -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <i class="far fa-clock"></i> Godziny otwarcia
                </div>
                <div class="card-body">
                    <p>{{object.opening_hours}}</p>
                </div>
            </div>
        </div>

        <!-- time -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fas fa-stopwatch"></i> Szacowany czas odwiedźin
                </div>
                <div class="card-body">
                    <p>{{object.time_minutes}}</p>
                </div>
            </div>
        </div>

        <!-- tickets -->
        <div class="col">
            <div class="card h-100">
                <div class="card-header">
                    <i class="fas fa-ticket-alt"></i> Bilety
                </div>
                <div class="card-body">
                    {% if object.ticket_set.all %}
                        {% for ticket in object.ticket_set.all %}
                        <p>- {{ticket.ticket_type}} - {{ticket.price}} ZŁ</p>
                        {% endfor %}
                    {% else %}
                        Brak
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- location,description -->
    <div class="row">
        <!-- location -->
        <div class="col-5">
            <div id="map"></div>
        </div>
        <!-- description -->
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-sticky-note"></i> Opis
                </div>
                <div class="card-body">
                    <p>{{object.description}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %} 
{% block javascripts %} 
{{block.super}}

<script>
    function initMap() {
        var uluru = { 
            lat: {{ object.location_x }}, 
            lng: {{ object.location_y }} 
        };
    
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: uluru
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });

        marker.showInfoWindow();
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYXIhgWd59IDdrJoO38Tz2hbyoYw0u9TU&callback=initMap">
</script> 
<script>
    $(".minor-photo").on("click",function(){
        $("#mainPhoto").attr("src",$(this).attr("src"));
    });
</script>
{% endblock %}