{% extends 'base.html' %}
{% load staticfiles %}
{% block title%} Koszyk {% endblock %}
{% block body %}

<div class="container standard-container">
    </ul>
    <div class="row">
        <div class="col">
            <h1 class="display-4">Twój koszyk</h1>
        </div>
    </div>
    <div class="row">
        {% if cart.order_set.all %}
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Bilet</th>
                    <th>Liczba osób</th>
                    <th>Cena</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for order in cart.order_set.all %}
                <tr>
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle"><img src="{{order.id_ticket.id_attraction.main_photo.url}}" class="img-fluid cart-img" alt="Muzeum"/></td>
                    <td class="align-middle">{{order.id_ticket.id_attraction.name}}</td>
                    <td class="align-middle">{{ order.id_ticket.ticket_type.type_name }}</td>
                    <td class="align-middle">
                        <div>
                        <input type="number" class="form-control form-control-sm float-left align-middle" id="input-ticket-normal-1" value="{{ order.quantity }}" style="width: 90px;">
                        <div class="float-left align-middle">
                            <button class="btn btn-success btn-sm">+</button>
                            <button class="btn btn-danger btn-sm">-</button>
                        </div>
                    </div>
                    </td>
                    <td class="align-middle">{{ order.id_ticket.price }} zł</td>
                    <td class="align-middle">
                       
                        <!-- <div class="form-group row my-0">
                            <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">{{ order.id_ticket.ticket_type.type_name }}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-normal-1" value="{{ order.quantity }}">
                            </div>
                            <div class="col col-form-label">
                                {{ order.id_ticket.price }} zł
                            </div>
                        </div> -->

                        <!-- <div class="form-group row">
                            <label for="input-ticket-half-price-1" class="col-sm-4 col-form-label">Popierdolony</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-half-price-1" value="0">
                            </div>
                            <div class="col col-form-label">
                                0 zł
                            </div>
                        </div> -->
                    </td>
                </tr>
                {% endfor %}
                <!-- <tr>
                    <td class="align-middle">1</td>
                    <td class="align-middle"><img src="{% static 'images/slider/slider1.png' %}" class="img-fluid cart-img" alt="Muzeum"/></td>
                    <td class="align-middle">Muzeum wojska polskiego</td>
                    <td class="align-middle">
                        <div class="form-group row">
                            <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">Normalny</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-normal-1" value="2">
                            </div>
                            <div class="col col-form-label">
                                48 zł
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-ticket-half-price-1" class="col-sm-4 col-form-label">Popierdolony</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-half-price-1" value="0">
                            </div>
                            <div class="col col-form-label">
                                0 zł
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="align-middle">2</td>
                    <td class="align-middle"><img src="{% static 'images/slider/slider1.png' %}" class="img-fluid cart-img" alt="Muzeum"/></td>
                    <td class="align-middle">Muzeum wojska polskiego</td>
                    <td class="align-middle">
                        <div class="form-group row">
                            <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">Normalny</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-normal-1" value="2">
                            </div>
                            <div class="col col-form-label">
                                48 zł
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="input-ticket-half-price-1" class="col-sm-4 col-form-label">Popierdolony</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-half-price-1" value="0">
                            </div>
                            <div class="col col-form-label">
                                0 zł
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                        <td class="align-middle">3</td>
                        <td class="align-middle"><img src="{% static 'images/slider/slider1.png' %}" class="img-fluid cart-img" alt="Muzeum"/></td>
                        <td class="align-middle">Muzeum wojska polskiego</td>
                        <td class="align-middle">
                            <div class="form-group row">
                                <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">Normalny</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="input-ticket-normal-1" value="2">
                                </div>
                                <div class="col col-form-label">
                                    48 zł
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="input-ticket-half-price-1" class="col-sm-4 col-form-label">Popierdolony</label>
                                <div class="col-sm-4">
                                    <input type="number" class="form-control" id="input-ticket-half-price-1" value="0">
                                </div>
                                <div class="col col-form-label">
                                    0 zł
                                </div>
                            </div>
                        </td>
                    </tr> -->
            </tbody>
        </table>
        {% else %}
        <p>Koszyk jest pusty, powinieneś coś dodać.</p>
        {% endif %}
    </div>
</div>
{% endblock %}