{% extends 'base.html' %}
{% load staticfiles %}
{% block title%} Koszyk {% endblock %}
{% block body %}


<div class="container standard-container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Twój koszyk</h1>
        </div>
    </div>
    {% if cart %}
    <div class="row">
        <table class="table table-borderless mx-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Bilet</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for attraction, orders in cart.items %}
                <tr>
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle"><img src="{{attraction.main_photo.url}}" class="img-fluid cart-img" alt="Muzeum"/></td>
                    <td class="align-middle">{{attraction}}</td>
                    <td class="align-middle">
                        {% for order in orders %}

                        <div class="form-group row my-0">
                            <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">{{ order.ticket.ticket_type.name }}</label>
                            <div class="col-sm-4">
                                <input type="number" class="form-control" id="input-ticket-{{ order.id }}" value="{{ order.quantity }}" data-order-id="{{ order.id }}">
                            </div>
                            <div class="float-left align-middle">
                                    <button class="btn btn-success btn-sm add-to-order" data-order-id="{{ order.id }}" data-button-type="add">+</button>
                                    <button class="btn btn-danger btn-sm subtract-from-order" data-order-id="{{ order.id }}" data-button-type="subtract">-</button>
                                </div>
                            <div class="col col-form-label">
                                {{ order.cost }} zł
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <div class="float-right">
                Całkowity koszt: {{ total_cost }} zł
                <a href="{% url 'city_guide:planner_add' %}" class="btn btn-primary btn-sm">Planuj włajasz</a>
            </div>
        </div>
    </div>    
    {% else %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                Koszyk jest pusty, powinieneś coś dodać.
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ block.super }}
<script>
    function addToOrder(id, quantity, type="add"){
        if(type == "add"){
            $('#input-ticket-' + id).val(++quantity);        
        }

        if(type == "subtract"){
            $('#input-ticket-' + id).val(--quantity);        
        }

        if(quantity >= 0){
            $.get(
                "{% url 'city_guide:cart_order_edit' %}",
                {id: id, quantity: quantity}
            ).done(function(data){
                if(data.status == 200){
                    location.reload();
                }
            });
        }

    }
    $('.add-to-order').on('click', function(){
        let id = $(this).attr('data-order-id');
        let quantity = $('#input-ticket-'+id).val();
        let button = $(this).attr('data-button-type');

        addToOrder(id, quantity, button);
        
    });

    $('.subtract-from-order').on('click', function(){
        let id = $(this).attr('data-order-id');
        let quantity = $('#input-ticket-'+id).val();
        let button = $(this).attr('data-button-type');

        addToOrder(id, quantity, button);
        
    });
</script>
{% endblock %}