{% extends 'base.html' %} {% load staticfiles %} {% block title%} Koszyk {% endblock %} {% block body %}
<div class="modal fade create-tour" tabindex="-1" role="dialog" aria-labelledby="Utwórz planer" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Utwórz planer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'city_guide:planner_add' %}" method="POST">
                    {% csrf_token %} {% for field in tour_create_form %} {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors}}
                    </div>
                    {% endif %}
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3" for="{{field.id_for_label}}">{{field.label}}:</label>
                        <div class="col-sm-9">
                            {{field}}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="col offset-sm-3">
                        <button type="submit" class="btn btn-primary">Dodaj</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container standard-container">
    <div class="row">
        <div class="col">
            <h1 class="display-4">Twój koszyk</h1>
        </div>
    </div>
    {% if cart %}
    <div class="row">
        <table class="table table-borderless mx-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Nazwa</th>
                    <th>Bilet</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for attraction, orders in cart.items %}
                <tr id="attraction-{{attraction.id}}">
                    <td class="align-middle">{{ forloop.counter }}</td>
                    <td class="align-middle">
                        <img src="{{attraction.main_photo.url}}" class="img-fluid cart-img" alt="Muzeum" />
                    </td>
                    <td class="align-middle">{{attraction}}</td>
                    <td class="align-middle">
                        {% for ticket, ticket_detail in orders.items %}
                        <div class="form-group row my-0">
                            <label for="input-ticket-normal-1" class="col-sm-4 col-form-label">{{ ticket_detail.name }}</label>
                            <div class="col-sm-3">
                                <input type="number" class="form-control" id="input-ticket-{{ ticket_detail.id }}" value="{{ ticket_detail.quantity }}" data-ticket-id="{{ ticket_detail.id }}"
                                    readonly>
                            </div>
                            <div class="float-left align-middle">
                                <button class="btn btn-success btn-sm add-to-order mt-1" data-ticket-id="{{ ticket_detail.id }}" data-button-type="add">
                                    <i class="fas fa-plus"></i>
                                </button>
                                <button class="btn btn-danger btn-sm subtract-from-order mt-1" data-ticket-id="{{ ticket_detail.id }}" data-button-type="subtract">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                            <div class="col col-form-label">
                                {{ ticket_detail.cost }} PLN
                            </div>
                        </div>
                        {% endfor %}
                    </td>
                    <td class="align-middle">
                        <button class="btn btn-danger btn-sm delete-order" data-attraction-id="{{attraction.id}}">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <div class="float-right">
                <h5 class="ml-5">
                    Całkowity koszt:
                    <span class="ml-1">{{ total_cost }}</span> PLN
                </h5>
            </div>
            <div class="mt-5">
            {% if not user.is_authenticated %}
                <div class="alert alert-info">
                    <p>Aby stworzyć planer, <a href="{% url 'city_guide:login' %}">zaloguj się</a>.</p>
                </div>
                <button class="btn btn-primary btn-block" disabled>Zaplanuj trasę</button>
            {% else %}     
                {% if cart|length > 1 %}
                <button class="btn btn-primary btn-block" data-toggle="modal" data-target=".create-tour">Zaplanuj trasę</button>
                {% else %}
                <div class="alert alert-info">
                    <p>Aby stworzyć planer, potrzebujesz przynajmniej dwóch elementów w koszyku.</p>
                </div>
                <button class="btn btn-primary btn-block" disabled>Zaplanuj trasę</button>                
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                Koszyk jest pusty, powinieneś coś dodać.
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %} {% block javascripts %} {{ block.super }}
<script>
    function addToOrder(id, quantity, type = "add") {
        if (type == "add") {
            $('#input-ticket-' + id).val(++quantity);
        }

        if (type == "subtract") {
            $('#input-ticket-' + id).val(--quantity);
        }

        if (quantity >= 0) {
            $.get(
                "{% url 'city_guide:cart_order_edit' %}",
                { id: id, quantity: quantity }
            ).done(function (data) {
                //if(data.status == 200){
                location.reload();
                //}
            });
        }

    }

    function deleteOrder(id) {
        //$('#attraction-' + id).remove();

        $.get(
            "{% url 'city_guide:cart_order_delete' %}",
            { id: id }
        ).done(function (data) {
            location.reload();
        });
    }

    $('.delete-order').on('click', function () {
        let id = $(this).attr('data-attraction-id');

        deleteOrder(id);
    });

    $('.add-to-order').on('click', function () {
        let id = $(this).attr('data-ticket-id');
        let quantity = $('#input-ticket-' + id).val();
        let button = $(this).attr('data-button-type');

        addToOrder(id, quantity, button);

    });

    $('.subtract-from-order').on('click', function () {
        let id = $(this).attr('data-ticket-id');
        let quantity = $('#input-ticket-' + id).val();
        let button = $(this).attr('data-button-type');

        addToOrder(id, quantity, button);

    });
</script> {% endblock %}