{% extends 'city_guide/planner.html' %} 
{% load staticfiles %} 
{% block stylesheets %}
{{ block.super }}
<style>
    body {
        background: #fff;
    }
    #map{
        margin-top: 0!important;
        height: 100%;
    }
</style>
{% endblock %}
{% block modals %}{% endblock %}
{% block header %}{% endblock %}
{% block generatePDF %}{% endblock %}
{% block setupJourney %}{% endblock %}
{% block container %}
<div class="container-fluid standard-container" style="margin-top: 0;">
{% endblock %}
{% block tour_header %}
<div class="row">
    <div class="col">
        <h1>{{ tour.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>{{ tour.description }}</p>
    </div>
</div>
{% endblock %}
{% block custom %}
<div class="row">
    <div class="col">
        <!-- <div class="row"> -->
            {% for attraction, order in orders.items %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {% if order.type == "attraction" %}
                            <div class="row">
                                <div class="col-8 attraction-planner-title">
                                    {{ attraction }}
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col">
                                            <span class="font-for-all">
                                                <i class="fa fa-clock"></i> {{ attraction.time_minutes }} min
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Wskazówki dojścia
                                    <div class="route-steps" style="display: none;"></div>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-8 attraction-planner-title">
                                    {{ attraction.name }}
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col">
                                            <span class="font-for-all">
                                                <i class="fa fa-clock"></i> {{ attraction.time }} min
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}
{% block javascripts %} 
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script type="text/javascript">
    let mapId = 'map';
    let waypts = "{{ waypoints }}";
    waypts = JSON.parse(waypts.replace(/&quot;/g, "\""));
    let dirty = "{{tour.was_order_modified}}" == "True" ? true : false;
    var startLocation = localStorage.getItem('start-point');

    if (!startLocation) {
        localStorage.setItem('is-start-point', false);
        startLocation = localStorage.getItem('start-point');
        $('#is-start-point').prop('checked', false);
    }

    
</script>
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYXIhgWd59IDdrJoO38Tz2hbyoYw0u9TU"></script>
<script type="text/javascript">
    init(waypts); 
</script>
    {% endblock %}