{% extends 'city_guide/planner.html' %} 
{% block modals %}{% endblock %}
{% block custom %}
<div class="row">
    <div class="col">
        <!-- <div class="row"> -->
            {% for attraction, orders in cart.items %}
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            {% if orders.type == "attraction" %}
                            <div class="row">
                                <div class="col-8 attractionTitleInPlanner">
                                    {{ attraction }}
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col">
                                            <span class="fontForAll">
                                                <i class="fa fa-clock"></i> {{ attraction.time_minutes }} min
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    Wskazówki dojścia
                                    <div class="route-steps" style="display: none;"></div>
                                </div>
                            </div>
                            {% else %}
                            <div class="row">
                                <div class="col-8 attractionTitleInPlanner">
                                    {{ attraction.name }}
                                </div>
                                <div class="col-4">
                                    <div class="row">
                                        <div class="col">
                                            <span class="fontForAll">
                                                <i class="fa fa-clock"></i> {{ attraction.time }} min
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row mt-3">
                <div class="col"></div>
                <div class="col-auto float-right">
                    <a href="" class="btn btn-primary">Odswież trasę</a>
                    <a href="{% url 'city_guide:cart_create' tour.id %}" class="btn btn-success">Dodaj atrakcje do koszyka</a>
                </div>
            </div>
        <!-- </ul> -->
    </div>
</div>
{% endblock %}