{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="container" style="margin-top:85px">
    <div class="row">
        <h3 class="col">
            Planowanie podróży
        </h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card cardPlanner">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>
                                Przebieg podróży
                            </h1>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col px-0 mg-0">
                                <div class="card py-0">
                                    <ul class="card-body mb-0">
                                        <li class="row">
                                            <div class="col">
                                                Jakaś atrakcja.
                                            </div>

                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col px-0 mg-0">
                                                        <div class="col fa fa-clock px-0">
                                                            <span class="fontForAll">
                                                                <small>
                                                                    Czas
                                                                </small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col px-0 mg-0">
                                                        <div class="col fas fa-users px-0">
                                                            <span class="fontForAll">
                                                                <small>
                                                                    L. os
                                                                </small>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col px-0 mg-0">
                                                        <button type="button" class="btn btn-warning btn-sm ">
                                                            <small>Edycja</small>
                                                        </button>
                                                    </div>
                                                    <div class="col px-0 mg-0">
                                                        <button type="button" class="btn btn-danger btn-sm">
                                                            <small>Usuń</small>
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="col-5">
                                <!-- <img class="img-fluid imageShort" src="https://i.stack.imgur.com/fqKSl.png" alt="Mapa"> -->
                                <div id="map" background="black"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="card px-0 mx-0">
    <div class="card-body">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>
</div>
</div>


{% endblock %} {% block javascripts %} {{ super.base }}

<script>
    function initMap() {
        //var uluru = { lat: {{ object.location_x }}, lng: { { object.location_y } } };
        var uluru = { 
            lat: 53.1182885, 
            lng: 23.1497195 
        };

        var map = new google.maps.Map(document.getElementById('map'),{
            zoom: 17,
            center: uluru
        });

        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });

        marker.showInfoWindow();
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYXIhgWd59IDdrJoO38Tz2hbyoYw0u9TU&callback=initMap">
</script>

<script>
    let show = false;

    $(".showFilters").on("click", function () {
        if (!show) {
            $(".filterCard").fadeIn("slow");
        }
        else {
            $(".filterCard").fadeOut("slow");
        }

        show = !show;
    });

    $(function () {
        $("#priceSliderRange").slider({
            range: true,
            min: 0,
            max: 100,
            values: [0, 100],
            slide: function (event, ui) {
                //$("#priceSliderMin").val(ui.values[0] + " PLN");
                //$("#priceSliderMax").val(ui.values[1] + " PLN");
                $("#priceSliderMin").val(ui.values[0]);
                $("#priceSliderMax").val(ui.values[1]);
            }
        });
        //$("#priceSliderMin").val($("#priceSliderRange").slider("values", 0) + " PLN");
        //$("#priceSliderMax").val($("#priceSliderRange").slider("values", 1) + " PLN");
        $("#priceSliderMin").val($("#priceSliderRange").slider("values", 0));
        $("#priceSliderMax").val($("#priceSliderRange").slider("values", 1));

    });
</script> {% endblock %}