{% extends 'base.html' %} {% load staticfiles %} {% block body %}
<div class="container" style="margin-top:85px">
    <div class="row">
        <h3 class="col">
            Planowanie podróży
        </h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card cardPlanner">
                <div class="card-body">
                    <div class="row">
                        <div class="col" style="text-align: center">
                            <h1>
                                Przebieg podróży
                            </h1>
                        </div>
                    </div>

                    <div class="col">
                        <div class="row">
                            <div class="col px-0 mg-0">
                                <div class="row">
                                    <div class="col px-0 mg-0">
                                        <ul id="sortable">
                                            {% for attraction, orders in cart.items %}
                                            <li class="ui-state-default">
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="card py-0">
                                                            <ul class="card-body mb-0">
                                                                <li class="row">
                                                                    <div class="col">
                                                                        <div class="row">
                                                                            <div class="col attractionTitleInPlanner">
                                                                                {{attraction}}
                                                                            </div>
                                                                            <div class="col-4">
                                                                                <div class="row">
                                                                                    <div class="col fa fa-clock px-0 mt-2">
                                                                                        <span class="fontForAll">
                                                                                            <small>
                                                                                                {{attraction.time_minutes}} min
                                                                                            </small>
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="col px-0 mg-0">
                                                                                        <button type="button" class="btn btn-warning btn-sm ">
                                                                                            <small>Edycja</small>
                                                                                        </button>
                                                                                    </div>
                                                                                    <div class="col px-0 mg-0">
                                                                                        <button type="button" class="btn btn-danger btn-sm">
                                                                                            <small>Usuń</small>
                                                                                        </button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!-- <div class="row mt-1">
                                                                            <div class="col">
                                                                                <div class="row cardBody mx-0 my-1 optionPlannerCard">
                                                                                    <div class="col px-0 mg-0">
                                                                                        <div class="col fa fa-clock px-0">
                                                                                            <span class="fontForAll">
                                                                                                <small>
                                                                                                    {{attraction.time_minutes}}
                                                                                                </small>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col px-0 mg-0">
                                                                                        <div class="col fas fa-users px-0">
                                                                                            <span class="fontForAll">
                                                                                                <small>
                                                                                                        {{people_amount}}
                                                                                                </small>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col px-0 mg-0">
                                                                                        <div class="col fas fa-ticket-alt px-0">
                                                                                            <span class="fontForAll">
                                                                                                <small>
                                                                                                    Ulgowe
                                                                                                </small>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col px-0 mg-0">
                                                                                        <div class="col fas fa-ticket-alt px-0">
                                                                                            <span class="fontForAll">
                                                                                                <small>
                                                                                                    Normalne
                                                                                                </small>
                                                                                            </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div> -->

                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>


                            </div>
                            <div class="col-5">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card px-0 mx-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col fa fa-clock">
                            <span class="fontForAll">
                                <small>
                                    Łączny czas zwiedzania: {{total_time}}
                                </small>
                            </span>
                        </div>
                        <div class="col fas fa-coin">
                            <span class="fontForAll">
                                <small>
                                    Łączny koszt wycieczki: {{total_cost}} PLN
                                </small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %} {% block javascripts %} {{ block.super }}

<script>
    function initMap() {
        var uluru = {
            lat: 53.1182885,
            lng: 23.1497195,
        }

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 17,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
        marker.showInfoWindow();
    }

    $(function () {
        $("#sortable").sortable({
            revert: true
        });
        $("#draggable").draggable({
            connectToSortable: "#sortable",
            helper: "clone",
            revert: "invalid"
        });
        $("ul, li").disableSelection();
    });
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYXIhgWd59IDdrJoO38Tz2hbyoYw0u9TU&callback=initMap">
</script> {% endblock %}