{% extends 'base.html' %}
{% block body %}



<div class="container standard-container" >
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname">Imię:</label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{user_form.first_name.value}}">
        </div>
 

        <button type="submit">Save changes</button>
      </form>
</div>

<!-- <div class="container" >
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit">Save changes</button>
      </form>
</div> -->



<!-- <div class="container" style="margin-top: 72px; background-color: #fff">
    
    <div class="row">
        {{profile.phone_number}}
        <div class="col">
            <h1>{{user.get_username}}</h1>
            <h1>{{user.get_email}}</h1>
        </div>
        <div class="col">
            
        </div>
    </div>


</div> -->

{% endblock %}