{% extends 'base.html' %} {% block title%} Rejestracja {% endblock %} {% block body %}


<div class="container standard-container">
    <!-- Title -->

    <div class="row logAndRegisterCard">
        <div class="col">
            <h1>Tworzenie nowego konta</h1>
            <!-- <h4>Wprowadź dane</h4> -->
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in user_form %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors}}
                        </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        
                        <label class="col-form-label col-sm-3" for="{{field.id_for_label}}">{{field.label}}</label>
                        <div class="col-sm-9">
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
                
        
                {% for field in profile_form %}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors}}
                        </div>
                    {% endif %}
                    
                    <div class="form-group row">
                        
                        <label class="col-form-label col-sm-3" for="{{field.id_for_label}}">{{field.label}}</label>
                        <div class="col-sm-9">
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
        
                <script src='https://www.google.com/recaptcha/api.js'></script>
                {% if messages %}
                    {% for message in messages %}
                        <li class="{{ message.tags }} alert alert-danger">{{ message }}</li>
                    {% endfor %}
                {% endif %}
                <div calss="row">
                    <div class="col mx-auto">
                        <div class="g-recaptcha mx-auto"  data-sitekey="6LdeO1wUAAAAAH38moavAxpg3n0tpU397Z07iYIa"></div>
                    </div>
                </div>
        
                <div class="row ">
                    <div class="col mb-3">
                        <button type="submit" class="btn loginBtn" >Załóż konto</button> 

                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>

{% endblock %}