{% extends 'base.html' %} {% block title%} Rejestracja {% endblock %} {% block body %}

{% if messages %}
<ul class="messages mt-72 ml-0 pl-0" style="margin-bottom: -82px; text-align: center;">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }} mt-0 mb-0 "{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}   

{% if user_form.errors %}
    <ul class="messages mt-72 ml-0 pl-0" style="margin-bottom: -82px; text-align: center;">
    {% for key,error in user_form.errors.items %}
        <li class="alert alert-danger mt-0 mb-0 ">{{ error|escape }}</li>
    {% endfor %}
    </ul>
{% endif %}

<div class="container standard-container">
    <!-- Title -->

    <div class="row logAndRegisterCard">
        <div class="col">
            <h1>Tworzenie nowego konta</h1>
            <!-- <h4>Wprowadź dane</h4> -->
            <form action="" method="POST">
                {% csrf_token %}
                {% for field in user_form %}

                    
                    <div class="form-group row">
                        
                        <label class="col-form-label col-sm-3" for="{{field.id_for_label}}">{{field.label}}</label>
                        <div class="col-sm-9">
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
                
        
                {% for field in profile_form %}

                    
                    <div class="form-group row">
                        
                        <label class="col-form-label col-sm-3" for="{{field.id_for_label}}">{{field.label}}</label>
                        <div class="col-sm-9">
                            {{field}}
                        </div>
                    </div>
                {% endfor %}
        
                <script src='https://www.google.com/recaptcha/api.js'></script>

                <div class="row">
                    <div class="col mx-auto">
                        <div class="g-recaptcha mx-auto"  data-sitekey="6LdeO1wUAAAAAH38moavAxpg3n0tpU397Z07iYIa"></div>
                    </div>
                </div>
        
                <div class="row mt-3 mb-4">
                    <div class="col">
                        <button type="submit" class="btn loginBtn" >Załóż konto</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>    
</div>

{% endblock %}