/* Global */
h1, h2, h3 { font-family: 'Roboto Condensed', sans-serif; }
h1, h2 { margin-top: 10px; }
h1 { font-size: 2em; }
h2 { font-size: 2.5em; color: #864d3f; }
h3 { font-size: 2em; color: #2d4079; }
ul { list-style-type: none; }

.img-responsive { max-width: 100%; height: auto; display: block; }
.messages-slide { display: none; }

body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -o-background-size: 100% 100%, auto;
    -moz-background-size: 100% 100%, auto;
    -webkit-background-size: 100% 100%, auto;
    background-size: 100% 100%, auto;
    padding: 0px;
    margin: 0;
}

footer {
    background-color: #fff;
    padding: 10px 20px;
    clear: both;
    border-top: solid 1px #6C757D;
}

.container-fluid {
    overflow-x: hidden;
}

.standard-container {
    margin-top: 77.97px;
    background-color: #fff;
    min-height: 600px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.standard-container-photo {
    margin-top: 77.97px;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 40px;
    min-height: 60px;
}

.standard-container-inside {
    background-color: #fff;
    min-height: 600px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 30px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover { font-weight: bold; color: #2d4079; }
.navbar-light .navbar-nav .active>.nav-link{ border-bottom: solid 3px #2d4079; }
.nav-link{ padding: .2rem 1rem; }
.navbar-light {
    background-color: #fcfcfc;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    min-height: 72px;
}

/* Buttons */

.details-button { position: absolute; bottom: 0px; right: 0; }
.details-button-single { float: right; }

.btn.btn-outline-success {
    background-color: white;
    color: #2d4079;
    font-weight: 500;
    border-color: #2d4079;
}

.btn.btn-outline-success:active:focus {
    color: white;
    background-color: #2d4079;
    border-color: white;
}

.btn.btn-outline-success:hover {
    color: white;
    background-color: #2d4079;
    border-color: white;
}

/* ATTRACTIONS PAGE */

#description-single-attr { text-align: justify; border-top: 1px solid #545455; padding-top: 5px; }

.attr-deck { margin-bottom: 20px; }
.attraction-cont { margin-top: 22px; }
.attraction-short { height: 500px; color: #545455; border: none; padding: 25px; }
.attracion-single-card { color: #545455; border: none; }
.description-text { text-align: justify; border-top: 1px solid #545455; margin-top: 15px; }
.main-image { margin-top: 10px; }
.image-short { max-height: 720px; }
.minor-photo { cursor: pointer; max-height: 150px;}
.cart-img { max-height: 100px; }
.filter-navbar-cont { margin-top: 92px; }
.fa-search { color: white; }
.navbar-custom { background-color: #2d4079; }
.navbar-custom .navbar-brand { color: white; }
.navbar-custom .navbar-text { color: white; }
.navbar-custom .nav-item.active .nav-link, .navbar-custom .nav-item:hover .nav-link { color: white; }
.navbar-custom .navbar-nav .nav-link { color: white; }
.slider-values { border: 0; color: white; background-color: #2d4079; font-weight: bold; }
slider { margin-top: 50px; }

/* INDEX PAGE */

#site-info { background-color: #2d4079; font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 20px 0 40px; }
#site-info h1 { font-size: 36px; font-family: 'Roboto Condensed', sans-serif; }
.font-for-all { font-family: "Helvetica Neue", Arial, sans-serif; font-weight: lighter !important; text-align: justify;}
.tour-desc { text-align: justify; letter-spacing: 0.04em; word-spacing: 0.09em; }
.slider-height { max-height: 505px; }

/* FILTER FORM */

.filter-nav-container { margin-top: 72px; margin-bottom: -72px; }
.filter-card {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #2d4079;
    color: white;
    display: none;
    border-radius: 0;
}

/* PLANNER */

#sortable { padding-left: 0px; max-height: 525px; overflow-y: auto; }

.attraction-planner-title { font-family: 'Roboto Condensed', sans-serif; font-size: 1.1em; }
.edge-detail { font-size: 80%; }
.detail-table { display: none; }


/* REGISTRATION AND LOGIN */

.register-ref { text-align: center; }
.log-and-register-card { margin: auto; max-width: 400px; max-height: 560px; }
.g-recaptcha { margin-bottom: 10px; }

/* ABOUT PAGE */

.p1 { text-indent: 50px; text-align: justify; }
.description-photos { width: 100%; height: auto; margin-left: 10px; margin-right: 0px }
.description-title { font-family: 'Roboto Condensed', sans-serif; font-size: 4.5em; color: #2d4079; }

.button-href {
    padding-left: 0px !important;
    font-size: 80%;
    color: #6C757D;
    vertical-align: baseline !important;
    padding-right: 2px;
}

/* PROFILE PAGE */

.profile-form-group-left { padding-left: 30px; padding-right: 15px; }
.profile-form-group-right { padding-left: 15px; padding-right: 30px; }
.profil-message { padding: 10px; margin: 0; }
.p-justify { text-align: justify; }


/* MAP */
#map { height: 96%; }
#map-attraction { height: 100%; }

.map { height: 100%!important; }