body{
    background-color: #ededed;
    padding: 0px;
    margin: 0;
}

.container-fluid {
    overflow-x: hidden;
}

.navbar-light{
    background-color: #fcfcfc;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    min-height: 72px;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:hover{
    font-weight: bold;
    color: #2d4079;
}


.imageShort {
    width: 100%;
    height: auto;
}

.imgDiv {
    width: 50%;
}

.attracionShort {
    padding: 25px;
}

#map{
    display: block;
    width: 100%;
    height: 500px;
}