body{
    background-color: rgba(204, 190, 190, 0.727);
    padding: 0px;
    margin: 0;
}

.imageShort {
    width: 100%;
    height: auto;
}

.imgDiv {
    width: 50%;
}

.attracionShort {
    padding: 25px;
}