.mr-30 { margin-right: 30px; }
.mr-15 { margin-right: 15px; }
.mt-30 { margin-top: 30px; }
.mt-20 { margin-top: 20px; }
.mt-72 { margin-top: 72px; }
.px-30 { padding-left: 30px; padding-right: 30px; }
.pl-30 { padding-left: 30px; }
